//COLORI BASE
$primary: #F8F9FC;
$secondary: #007BFF;
$tertiary: #2F55D4;
$quaternary: #202942;

//COLORI FOOTER
$slate-gray: #3C4858;
$acid-green: #2ECA8B;

//COLORI RIBBON CARD
$orange: #F7961C;
$dark-orange: #F17425;

//GENERALI
$font-darkgray: #3C4858;
$font-gray: #8492A6;
$font-lightgray: #adb5bd;
$btn-grey: #2F55D41A;
$reddish: #E43F52;
$light-border: #E9ECEF;